.container {
  margin-block: 48px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  width: 44px;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Poor-white);
  cursor: pointer;
  /* shadow */
  box-shadow: 0 3px 8px 0 rgba(74, 85, 104, 0.04);
}

.tableMain {
  margin-top: 20px;
}

.actionsMain {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tableIcon {
  border-radius: 5px;
  border: 1px solid var(--Gray, #dbdbdb);
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
