.container {
  margin-block: 48px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  width: 44px;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Poor-white);
  cursor: pointer;
  /* shadow */
  box-shadow: 0 3px 8px 0 rgba(74, 85, 104, 0.04);
}
.content {
  margin-top: 24px;
}

.actionsMain {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tableIcon {
  border-radius: 5px;
  border: 1px solid var(--Gray, #dbdbdb);
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ----- */

.modalMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item p:nth-of-type(1) {
  color: var(--Dark-gray);
  font-family: var(--font-lato);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item p:nth-of-type(2) {
  color: var(--Black);
  font-family: var(--font-lato);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  border-radius: 16px;
  background: var(--Success-50, #ecfdf3);
  display: flex;
  padding: 2px 8px 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
}
.active p {
  color: #027a48 !important;
  text-align: center;

  font-family: var(--font-lato);
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}
.active span {
  width: 8px;
  height: 8px;
  background-color: #12b76a;
  border-radius: 50%;
}

.inactive {
  border-radius: 16px;
  background: var(--danger-light);
  display: flex;
  padding: 2px 8px 2px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: max-content;
}
.inactive p {
  color: var(--Red) !important;
  text-align: center;

  font-family: var(--font-lato);
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}

@media (max-width: 480px) {
  .modalMain {
    grid-template-columns: repeat(1, 1fr);
  }
}
