.container {
  border-radius: 20px;
  background: var(--Poor-white);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-bottom: 14px;
}

.header {
  padding: 24px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header svg {
  cursor: pointer;
}

.header > p {
  color: var(--Gray-900, #181d27);
  font-family: var(--font-lato);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.content {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.sectionTitle {
  color: var(--Gray-900, #181d27);
  font-family: var(--font-lato);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.genderStats {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.genderItem {
  color: rgba(0, 0, 0, 0.60);
  font-family: var(--font-lato);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.container :focus {
  outline: none;
}

@media (max-width: 768px) {
  .sectionHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .genderStats {
    width: 100%;
  }
}
