.Container {
  display: flex;
  height: max-content;
  flex-direction: column;
  width: 100%;
}

.label {
  color: var(--Dark-gray);
  font-family: var(--font-lato) !important;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.disabled {
  color: var(--Dark-gray);
}

.leftIconBox {
  position: absolute;
  inset-inline-start: 20px;
  top: 55%;
  bottom: 45%;
  transform: translateY(-50%);
  height: max-content;
}

.dropdownContainer[data-disabled="true"] {
  cursor: not-allowed !important;
}
.dropdownContainer[data-disabled="true"] > div > div {
  background-color: rgba(220, 220, 220, 0.348) !important;
}

.dropdownContainer {
  position: static; /* Ensure dropdown stays in place */
}

.dropdownContainer div[class*="value-container"],
.dropdownContainer div[class*="placeholder"],
.dropdownContainer div[class*="indicators"] {
  height: 100%;
}

.dropdownContainer div[class*="value-container"],
.dropdownContainer div[class*="placeholder"] {
  place-content: center start;
}

.error {
  color: var(--Red);
  font-size: 14px !important;
  font-weight: 400 !important;
}

.dropdownContainer div[class*="option"]:last-child {
  border-bottom: none !important;
}

.dropdownContainer div[class*="control"] {
  display: flex;
  align-items: center;
}

.dropdownContainer div[class*="control"] > div {
  display: flex;
  align-items: center;
  padding: 0;
}

.dropdownContainer div[class*="control"] > div input {
  display: none;
}

.dropdownContainer div[class*="menu"] {
  margin-top: 4px;
  width: max-content;
  inset-inline-end: 20%;
  border-radius: 6px;
  overflow: hidden;
}

.dropdownContainer div[class*="menu"] > div {
  padding: 0;
}
.dropdownContainer div[class*="menu"] > div::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.dropdownContainer div[class*="menu"] > div::-webkit-scrollbar-thumb {
  background-color: var(--Dark-blue);
  border-radius: 8px;
}

.dropdownContainer div[class*="menu"] > div::-webkit-scrollbar-corner {
  background: transparent;
}
