.main {
  margin-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actionsMain {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actionsMain svg {
  cursor: pointer;
}
